<h1>Sign Up</h1>
<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :email %>
	<%= f.email_field :email %>
	<br>
	<%= f.submit "Create User" %>
<% end %>
