<%= render "shared/error_messages" %>
<h1>New event</h1>
<%= form_for @event do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<br>
	<%= f.label :date %>
	<%= f.date_field :date %>
	<br>
	<%= f.submit "Create Event"%>
<% end %>
