<h1>Invitations</h1>
<%= form_for @invitation do |f| %>
  <%= f.label :event_id %>
  <%= f.collection_select :event_id, Event.where(creator_id: current_user.id), :id, :title %>
  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.where.not(id: current_user.id), :id, :name %>
  <%= f.submit 'Invite' %>
<% end %>
